/* body::before {
    display: block;
    content: '';
    height: 20px;
} */

/* Under medium screens reduce size of input group email  */
@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.auto {
    text-justify: auto;
}

.green {
    color: #183116;
}

.box {
    background-color: #0a1817;
    opacity: 0.9;
}

.box1{
    background-color: rgb(247, 247, 247);
}

.bold {
    font-weight: bold;
}

.ul li{
    margin-bottom: 50px;
}